<div class="p-3">
  <div class="card">
    <div class="card-body">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item text-bg-info text-white">Total items : {{appState.productState.totalProducts}}<li>
        <li class="list-group-item bg-primary text-white">Size : {{appState.productState.pageSize}}</li>
        <li class="list-group-item">Total Pages : {{appState.productState.totalPages}}</li>
        <li class="list-group-item">Checked : {{totalCheckedProducts()}}</li>
      </ul>
    </div>
  </div>
</div>
